{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />
    {% tailwind_css %}
</head>

<body>
    <div class="min-h-screen w-full flex flex-col gap-2 bg-gray-50">

        {% include 'components/navbar.html' %}
        <div class="w-full flex justify-center">
            <div class="w-5/6">
                {% block content %}

                {% endblock %}
            </div>

        </div>

    </div>
</body>

</html>