{% extends 'components/base.html' %}


{% block title %}


edit page

{% endblock %}


{% block content %}

<div class="h-screen w-full flex justify-center items-center">
    <form method="POST" class="w-96 rounded-lg shadow-lg flex flex-col gap-2 p-5" action="/update/{{todo.id}}">
        <h1 class="text-xl text-accent uppercase ">edit Todo</h1>
        {%csrf_token%}

        <div class="flex flex-col gap-2">
            <label for="" class="text-xs text-gray-500">Title</label>
            <input type="text" class="rounded-lg p-2 border-accent" name="title" placeholder="{{todo.title}}">
        </div>

        <div class="flex flex-col gap-2">
            <label for="" class="text-xs text-gray-500">Description</label>
            <input type="text" class="rounded-lg p-2 border-accent" name="description" placeholder="{{todo.description}}">
        </div>
        <button class="btn btn-accent uppercase">save</button>
    </form>
</div>

{% endblock %}